/* @extend display-flex; */
display-flex, .form-flex, .form-date-group, .steps ul, .title, .title .step-number, .actions ul li a, .form-radio-flex, .form-find {
  display: flex;
  display: -webkit-flex; }

/* @extend list-type-ulli; */
list-type-ulli, .steps ul, .actions ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* roboto-slab-300 - latin */    <script src="js/jquery.min.js"></script>
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-slab/roboto-slab-v7-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Slab Light"), local("RobotoSlab-Light"), url("../fonts/roboto-slab/roboto-slab-v7-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-slab/roboto-slab-v7-latin-300.woff2") format("woff2"), url("../fonts/roboto-slab/roboto-slab-v7-latin-300.woff") format("woff"), url("../fonts/roboto-slab/roboto-slab-v7-latin-300.ttf") format("truetype"), url("../fonts/roboto-slab/roboto-slab-v7-latin-300.svg#RobotoSlab") format("svg");
  /* Legacy iOS */ }
/* roboto-slab-regular - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-slab/roboto-slab-v7-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url("../fonts/roboto-slab/roboto-slab-v7-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-slab/roboto-slab-v7-latin-regular.woff2") format("woff2"), url("../fonts/roboto-slab/roboto-slab-v7-latin-regular.woff") format("woff"), url("../fonts/roboto-slab/roboto-slab-v7-latin-regular.ttf") format("truetype"), url("../fonts/roboto-slab/roboto-slab-v7-latin-regular.svg#RobotoSlab") format("svg");
  /* Legacy iOS */ }
/* roboto-slab-700 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-slab/roboto-slab-v7-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url("../fonts/roboto-slab/roboto-slab-v7-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-slab/roboto-slab-v7-latin-700.woff2") format("woff2"), url("../fonts/roboto-slab/roboto-slab-v7-latin-700.woff") format("woff"), url("../fonts/roboto-slab/roboto-slab-v7-latin-700.ttf") format("truetype"), url("../fonts/roboto-slab/roboto-slab-v7-latin-700.svg#RobotoSlab") format("svg");
  /* Legacy iOS */ }
a:focus,
a:active {
  text-decoration: none;
  outline: none;
  transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -webkit-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s; }

input,
select,
textarea {
  outline: none;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  margin: 0; }

input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important;
}

input[type=checkbox] {
  appearance: checkbox !important;
  -moz-appearance: checkbox !important;
  -webkit-appearance: checkbox !important;
  -o-appearance: checkbox !important;
  -ms-appearance: checkbox !important;
}

input[type=radio] {
  appearance: radio !important;
  -moz-appearance: radio !important;
  -webkit-appearance: radio !important;
  -o-appearance: radio !important;
  -ms-appearance: radio !important;
}

.clear {
  clear: both; }

h2 {
  font-size: 30px;
  margin: 0px; }

body {
  font-size: 14px;
  line-height: 1.6;
  color: #222;
  font-weight: 400;
  font-family: 'Roboto Slab';
  margin: 0px;
  background: #e3e3e3;
  position: relative;
  padding: 0px; }

.main {
  padding: 50px 0;
  position: relative;
  z-index: 99;
}

.container {
  width: 1400px;
  margin: 0 auto;
  background: #fff;
}

fieldset {
  margin: 0px;
  border: none;
  padding:25px 25px;
}

p.desc {
  margin: 0px;
  margin-bottom: 40px;
  color: #555;
}

.form-label {
  display: block;
  width: 100%;
  font-size: 15px;
  margin-bottom: 8px;
}

.text-input {
  font-size: 12px;
  color: #999;
  display: block;
  margin-top: 5px;
}
  .text-input span {
    color: #222;
    font-weight: bold;
  }

input{
  width: 100%;
  display: block;
  border: 1px solid #c1c1c1;
  height: 42px;
  box-sizing: border-box;
  padding: 0 10px;
  color: #222;
  font-weight: 500;
  font-size: 14px;
  font-family: 'Roboto Slab';
}
textarea {
  width: 100%;
  display: block;
  border: 1px solid #c1c1c1;
  height: 70px!important;
  box-sizing: border-box;
  padding: 5px 10px;
  color: #222;
  font-weight: bold;
  font-size: 14px;
  font-family: 'Roboto Slab';
}

select.form-control {
  text-transform: uppercase;
}
.form-control {
  height: 42px;
  border: 1px solid rgb(193, 193, 193);
  background: none;
  border-radius: 4px;
  width: 100%;
  padding: 0 18px;
  background: rgba(255, 255, 255, 0.9);
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  border: none;
}
.form-group i {
  position: absolute;
  bottom: 7px;
  right: 20px;
  font-size: 25px;
}
.form-holder2{
  /*display: none;*/
}
.form-control2 {
  height: 30px;
  border: 1px solid rgb(193, 193, 193);
  background: none;
  border-radius: 3px;
  width: 100%;
  padding: 0 5px;
  font-size: 11px;
  background: rgba(240, 240, 240, 0.5);
}

#steps-uid-0-p-0 .form-row, #steps-uid-0-p-0 .form-group, #steps-uid-0-p-0 .form-date {
  /*width: 680px; */
}

.text{
  /*display: none;*/
}

.form-group label {
  width: 100%;
  margin-right: 40px;
  color: #007cf2;
  display: block;
  margin-bottom: 5px;
}

.form-flex {
  margin: 0 -10px;
}
  .form-flex .form-group {
    width: 50%;
    padding: 0 10px;
  }

.form-group,
.form-date {
  margin-bottom: 18px;
  position: relative;
}

.form-date-group {
  border: 1px solid transparent;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px; }
  .form-date-group select {
    border: 1px solid #c1c1c1;
    width: 100%;
    box-sizing: border-box;
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    -o-appearance: none !important;
    -ms-appearance: none !important;
    position: relative;
    background: 0 0;
    z-index: 10;
    cursor: pointer;
    padding: 0 20px;
    height: 50px;
    font-size: 14px;
    font-family: 'Roboto Slab';
    color: #999;
    box-sizing: border-box;
    background-color: #fff;
    color: #222;
    font-weight: bold; }

.form-date-item {
  position: relative;
  overflow: hidden;
  width: 100px;
  margin-right: 10px; }

.vertical {
  display: block;
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}
  .vertical .steps {
    float: left;
    width: 25%;
  }
  .vertical .content,
  .vertical .actions {
    float: right;
    width: 75%;
  }

.content {
  height: auto;
}

.steps ul {
  flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -o-flex-direction: column;
  -ms-flex-direction: column;
  position: relative;
  padding-left: 40px;
  padding-top: 25px;
}
  .steps ul li {
    padding-bottom:25px;
    position: relative;
    z-index: 99;
  }
    .steps ul li a {
      text-decoration: none;
      color: #222;
    }
  .steps ul:after {
    position: absolute;
    content: '';
    width: 2px;
    height: 80%;
    background: #c1c1c1;
    left: 58px;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    z-index: 9; }

.title {
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center; }
  .title .step-number {
    width: 40px;
    height: 40px;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    background: #c1c1c1;
    color: #999;
    margin-right: 15px;
    border: 5px solid #fff;
    font-weight: bold; }
  .title .step-text {
    font-weight: bold;
    color: #999; }

.current .title .step-number {
  background: #007cf2;
  color: #fff;
}
.current .title .step-text {
  color: #007cf2;
}

.content h3 {
  display: none; }

.content, .actions {
  background: #f8f8f8; }

.actions {
  padding-bottom: 25px;
}
.actions ul {
  padding-left: 45px;
  padding-right: 55px;
}
.actions ul .disabled {
  display: none;
}
.actions ul li {
  float: right;
}
.actions ul li:first-child {
  float: left;
}
.actions ul li:first-child a {
  background: #e8e8e8;
  color: #999;
}
.actions ul li a {
  width: 120px;
  height: 50px;
  color: #fff;
  background: #007cf2;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  text-decoration: none;
}

.form-radio-flex {
  flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  margin: 0 -15px;
}
.form-radio-flex .form-radio-item {
  padding: 0 15px;
  margin-bottom: 25px;
}
.form-radio-flex input {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}
.form-radio-flex input + label {
  margin: 0px;
  width: 223px;
  height: 133px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  text-align: center;
  text-transform: none;
  transition: border-color .15s ease-out,  color .25s ease-out,  background-color .15s ease-out, box-shadow .15s ease-out;
}
.form-radio-flex input + label img {
  width: 100%;
  height: 100%;
}
.form-radio-flex input:checked + label {
  border: 1px solid #007cf2;
  z-index: 1;
}
.form-radio-flex input:focus + label {
  outline: none;
}
.form-radio-flex input:hover {
  border: 1px solid #007cf2;
}

label.error {
  display: block;
  position: absolute;
  top: 0px;
  right: 0;
}
  /*label.error:after {*/
    /*font-family: 'Material-Design-Iconic-Font';*/
    /*position: absolute;*/
    /*content: '\f135';*/
    /*right: 20px;*/
    /*top: 50px;*/
    /*font-size: 13px;*/
    /*color: #f63726; }*/

input.error {
  border: 1px solid #f63726;
}

#find_bank {
  padding: 0 55px;
  width: 680px;
  margin-right: 20px;
}
#find_bank::-webkit-input-placeholder {
  font-weight: 200;
}
#find_bank::-moz-placeholder {
  font-weight: 200;
}
#find_bank:-ms-input-placeholder {
  font-weight: 200;
}
#find_bank:-moz-placeholder {
  font-weight: 200;
}

.submit {
  width: 150px;
  background: #666;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}
  .submit:hover {
    background-color: #4d4d4d;
  }

.form-find {
  position: relative;
  padding-bottom: 70px;
  border-bottom: 1px solid #c1c1c1;
}

.form-icon {
  position: absolute;
  top: 12px;
  left: 20px;
  font-size: 18px;
  color: #999;
}

.choose-bank-desc {
  color: #666;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 35px;
}

#slider-margin {
  height: 9px;
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  background: #e8e8e8;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  position: relative;
  margin-top: 110px;
}
  #slider-margin .noUi-marker-horizontal.noUi-marker-large, #slider-margin .noUi-marker-horizontal.noUi-marker {
    height: 0px;
  }
  #slider-margin .noUi-connect {
    background: #007cf2;
  }
  #slider-margin .noUi-connects {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
  }
  #slider-margin .noUi-handle {
    width: 15px;
    height: 30px;
    top: -12px;
    background: #e8e8e8;
    outline: none;
    border: none;
    right: -15px;
    border: 1px solid #007cf2;
    border-radius: 0px;
  }
  #slider-margin .noUi-handle:after, #slider-margin .noUi-handle:before {
    width: 0px;
  }
  #slider-margin .noUi-handle .noUi-tooltip {
    bottom: 33px;
    border: none;
    background: transparent;
    font-size: 16px;
    color: #007cf2;
    padding: 0px;
  }
#slider-margin .noUi-pips {
width: 96%;
}
#slider-margin .noUi-pips .noUi-value {
  top: -50px;
  font-size: 16px;
  color: #666;
}
#slider-margin .noUi-pips .noUi-value:before {
  content: '$';
}
#slider-margin .noUi-pips .noUi-value-horizontal {
  transform: none;
  -moz-transform: none;
  -webkit-transform: none;
  -o-transform: none;
  -ms-transform: none;
}

.your-money {
  font-size: 16px;
  color: #222;
  margin: 0px;
  padding-top: 62px;
}
  .your-money .money {
    font-size: 28px;
    font-weight: bold;
  }

  @media screen and (min-width: 767px) {
    .vertical .steps {
      float: left;
      width: 25%;
    }
    .vertical .content, .vertical .actions {
      float: right;
      width: 75%;
    }

    .title .step-number {
      width: 30px;
      height: 30px;
      margin-right: 5px;
      border: 3px solid #fff;
    }
    .title .step-text {
      font-weight: 500;
      font-size: 12px;
    }
    .actions ul {
      margin-top: 0px!important;
    }
  }

@media screen and (max-width: 1024px) {
  .container {
    /*width: calc(100% - 40px);*/
    max-width: 100%; }

  ul.keypad li {
    width: 25.99%!important;
  }

  #find_bank {
    width: 100%;
  }

  .form-radio-flex input + label {
    width: 190px;
    height: 120px;
  }
}
@media screen and (max-width: 992px) {
  .content {
    /*height: 900px;*/
  }

  .form-radio-flex input + label {
    width: 100px;
    height: 65px; } }
@media screen and (max-width: 768px) {
  #steps-uid-0-p-0 .form-row, #steps-uid-0-p-0 .form-group, #steps-uid-0-p-0 .form-date {
    width: 100%;
  }

  .form-flex {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    margin: 0px;
  }

  .form-flex .form-group {
    padding: 0px;
  }

  fieldset, .actions ul {
    padding-left: 15px;
    padding-right: 15px;
  }

  #slider-margin .noUi-pips {
    width: 94%; }
}
@media screen and (max-width: 480px) {
  .form-date-group, .form-find {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
  }

  .content {
    /*height: 1050px; */
  }

  #find_bank {
    margin-bottom: 20px;
  }

  .actions ul li a {
    width: 100px;
  }

  .form-radio-flex {
    margin: 0 -5px;
  }

  .form-radio-flex .form-radio-item {
    padding: 0 5px;
  }

  .form-radio-flex input + label {
    width: 90px;
    height: 61px; }
}

/*# sourceMappingURL=style.css.map */






.row {
  margin-right:-15px;
  margin-left:-15px
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position:relative;
  min-height:1px;
  padding-right:15px;
  padding-left:15px
}
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  float:left
}
.col-xs-12 {
  width:96%
}
.col-xs-11 {
  width:91.66666667%
}
.col-xs-10 {
  width:83.33333333%
}
.col-xs-9 {
  width:75%
}
.col-xs-8 {
  width:66.66666667%
}
.col-xs-7 {
  width:58.33333333%
}
.col-xs-6 {
  width:50%
}
.col-xs-5 {
  width:41.66666667%
}
.col-xs-4 {
  width:33.33333333%
}
.col-xs-3 {
  width:25%
}
.col-xs-2 {
  width:16.66666667%
}
.col-xs-1 {
  width:8.33333333%
}
.col-xs-pull-12 {
  right:100%
}
.col-xs-pull-11 {
  right:91.66666667%
}
.col-xs-pull-10 {
  right:83.33333333%
}
.col-xs-pull-9 {
  right:75%
}
.col-xs-pull-8 {
  right:66.66666667%
}
.col-xs-pull-7 {
  right:58.33333333%
}
.col-xs-pull-6 {
  right:50%
}
.col-xs-pull-5 {
  right:41.66666667%
}
.col-xs-pull-4 {
  right:33.33333333%
}
.col-xs-pull-3 {
  right:25%
}
.col-xs-pull-2 {
  right:16.66666667%
}
.col-xs-pull-1 {
  right:8.33333333%
}
.col-xs-pull-0 {
  right:auto
}
.col-xs-push-12 {
  left:100%
}
.col-xs-push-11 {
  left:91.66666667%
}
.col-xs-push-10 {
  left:83.33333333%
}
.col-xs-push-9 {
  left:75%
}
.col-xs-push-8 {
  left:66.66666667%
}
.col-xs-push-7 {
  left:58.33333333%
}
.col-xs-push-6 {
  left:50%
}
.col-xs-push-5 {
  left:41.66666667%
}
.col-xs-push-4 {
  left:33.33333333%
}
.col-xs-push-3 {
  left:25%
}
.col-xs-push-2 {
  left:16.66666667%
}
.col-xs-push-1 {
  left:8.33333333%
}
.col-xs-push-0 {
  left:auto
}
.col-xs-offset-12 {
  margin-left:100%
}
.col-xs-offset-11 {
  margin-left:91.66666667%
}
.col-xs-offset-10 {
  margin-left:83.33333333%
}
.col-xs-offset-9 {
  margin-left:75%
}
.col-xs-offset-8 {
  margin-left:66.66666667%
}
.col-xs-offset-7 {
  margin-left:58.33333333%
}
.col-xs-offset-6 {
  margin-left:50%
}
.col-xs-offset-5 {
  margin-left:41.66666667%
}
.col-xs-offset-4 {
  margin-left:33.33333333%
}
.col-xs-offset-3 {
  margin-left:25%
}
.col-xs-offset-2 {
  margin-left:16.66666667%
}
.col-xs-offset-1 {
  margin-left:8.33333333%
}
.col-xs-offset-0 {
  margin-left:0
}
@media (min-width:768px) {
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9 {
    float:left
  }
  .col-sm-12 {
    width:100%
  }
  .col-sm-11 {
    width:91.66666667%
  }
  .col-sm-10 {
    width:83.33333333%
  }
  .col-sm-9 {
    width:75%
  }
  .col-sm-8 {
    width:66.66666667%
  }
  .col-sm-7 {
    width:58.33333333%
  }
  .col-sm-6 {
    width: 44.5% !important;
  }
  .col-sm-5 {
    width:41.66666667%
  }
  .col-sm-4 {
    width:33.33333333%
  }
  .col-sm-3 {
    width:25%
  }
  .col-sm-2 {
    width:16.66666667%
  }
  .col-sm-1 {
    width:8.33333333%
  }
  .col-sm-pull-12 {
    right:100%
  }
  .col-sm-pull-11 {
    right:91.66666667%
  }
  .col-sm-pull-10 {
    right:83.33333333%
  }
  .col-sm-pull-9 {
    right:75%
  }
  .col-sm-pull-8 {
    right:66.66666667%
  }
  .col-sm-pull-7 {
    right:58.33333333%
  }
  .col-sm-pull-6 {
    right:50%
  }
  .col-sm-pull-5 {
    right:41.66666667%
  }
  .col-sm-pull-4 {
    right:33.33333333%
  }
  .col-sm-pull-3 {
    right:25%
  }
  .col-sm-pull-2 {
    right:16.66666667%
  }
  .col-sm-pull-1 {
    right:8.33333333%
  }
  .col-sm-pull-0 {
    right:auto
  }
  .col-sm-push-12 {
    left:100%
  }
  .col-sm-push-11 {
    left:91.66666667%
  }
  .col-sm-push-10 {
    left:83.33333333%
  }
  .col-sm-push-9 {
    left:75%
  }
  .col-sm-push-8 {
    left:66.66666667%
  }
  .col-sm-push-7 {
    left:58.33333333%
  }
  .col-sm-push-6 {
    left:50%
  }
  .col-sm-push-5 {
    left:41.66666667%
  }
  .col-sm-push-4 {
    left:33.33333333%
  }
  .col-sm-push-3 {
    left:25%
  }
  .col-sm-push-2 {
    left:16.66666667%
  }
  .col-sm-push-1 {
    left:8.33333333%
  }
  .col-sm-push-0 {
    left:auto
  }
  .col-sm-offset-12 {
    margin-left:100%
  }
  .col-sm-offset-11 {
    margin-left:91.66666667%
  }
  .col-sm-offset-10 {
    margin-left:83.33333333%
  }
  .col-sm-offset-9 {
    margin-left:75%
  }
  .col-sm-offset-8 {
    margin-left:66.66666667%
  }
  .col-sm-offset-7 {
    margin-left:58.33333333%
  }
  .col-sm-offset-6 {
    margin-left:50%
  }
  .col-sm-offset-5 {
    margin-left:41.66666667%
  }
  .col-sm-offset-4 {
    margin-left:33.33333333%
  }
  .col-sm-offset-3 {
    margin-left:25%
  }
  .col-sm-offset-2 {
    margin-left:16.66666667%
  }
  .col-sm-offset-1 {
    margin-left:8.33333333%
  }
  .col-sm-offset-0 {
    margin-left:0
  }
}
@media (min-width:992px) {
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9 {
    float:left
  }
  .col-md-12 {
    width:96%
  }
  .col-md-11 {
    width:91.66666667%
  }
  .col-md-10 {
    width:83.33333333%
  }
  .col-md-9 {
    width:75%
  }
  .col-md-8 {
    width:66.66666667%
  }
  .col-md-7 {
    width:58.33333333%
  }
  .col-md-6 {
    width:46.1%!important;
  }
  .col-md-5 {
    width:41.66666667%
  }
  .col-md-4 {
    width:29.5%!important;
  }
  .col-md-3 {
    width:25%
  }
  .col-md-2 {
    width:16.66666667%
  }
  .col-md-1 {
    width:8.33333333%
  }
  .col-md-pull-12 {
    right:100%
  }
  .col-md-pull-11 {
    right:91.66666667%
  }
  .col-md-pull-10 {
    right:83.33333333%
  }
  .col-md-pull-9 {
    right:75%
  }
  .col-md-pull-8 {
    right:66.66666667%
  }
  .col-md-pull-7 {
    right:58.33333333%
  }
  .col-md-pull-6 {
    right:50%
  }
  .col-md-pull-5 {
    right:41.66666667%
  }
  .col-md-pull-4 {
    right:33.33333333%
  }
  .col-md-pull-3 {
    right:25%
  }
  .col-md-pull-2 {
    right:16.66666667%
  }
  .col-md-pull-1 {
    right:8.33333333%
  }
  .col-md-pull-0 {
    right:auto
  }
  .col-md-push-12 {
    left:100%
  }
  .col-md-push-11 {
    left:91.66666667%
  }
  .col-md-push-10 {
    left:83.33333333%
  }
  .col-md-push-9 {
    left:75%
  }
  .col-md-push-8 {
    left:66.66666667%
  }
  .col-md-push-7 {
    left:58.33333333%
  }
  .col-md-push-6 {
    left:50%
  }
  .col-md-push-5 {
    left:41.66666667%
  }
  .col-md-push-4 {
    left:33.33333333%
  }
  .col-md-push-3 {
    left:25%
  }
  .col-md-push-2 {
    left:16.66666667%
  }
  .col-md-push-1 {
    left:8.33333333%
  }
  .col-md-push-0 {
    left:auto
  }
  .col-md-offset-12 {
    margin-left:100%
  }
  .col-md-offset-11 {
    margin-left:91.66666667%
  }
  .col-md-offset-10 {
    margin-left:83.33333333%
  }
  .col-md-offset-9 {
    margin-left:75%
  }
  .col-md-offset-8 {
    margin-left:66.66666667%
  }
  .col-md-offset-7 {
    margin-left:58.33333333%
  }
  .col-md-offset-6 {
    margin-left:50%
  }
  .col-md-offset-5 {
    margin-left:41.66666667%
  }
  .col-md-offset-4 {
    margin-left:33.33333333%
  }
  .col-md-offset-3 {
    margin-left:25%
  }
  .col-md-offset-2 {
    margin-left:16.66666667%
  }
  .col-md-offset-1 {
    margin-left:8.33333333%
  }
  .col-md-offset-0 {
    margin-left:0
  }
}
@media (min-width:1200px) {
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9 {
    float:left
  }
  .col-lg-12 {
    width:100%
  }
  .col-lg-11 {
    width:91.66666667%
  }
  .col-lg-10 {
    width:83.33333333%
  }
  .col-lg-9 {
    width:75%
  }
  .col-lg-8 {
    width:66.66666667%
  }
  .col-lg-7 {
    width:58.33333333%
  }
  .col-lg-6 {
    width:50%
  }
  .col-lg-5 {
    width:41.66666667%
  }
  .col-lg-4 {
    width:33.33333333%
  }
  .col-lg-3 {
    width:25%
  }
  .col-lg-2 {
    width:16.66666667%
  }
  .col-lg-1 {
    width:8.33333333%
  }
  .col-lg-pull-12 {
    right:100%
  }
  .col-lg-pull-11 {
    right:91.66666667%
  }
  .col-lg-pull-10 {
    right:83.33333333%
  }
  .col-lg-pull-9 {
    right:75%
  }
  .col-lg-pull-8 {
    right:66.66666667%
  }
  .col-lg-pull-7 {
    right:58.33333333%
  }
  .col-lg-pull-6 {
    right:50%
  }
  .col-lg-pull-5 {
    right:41.66666667%
  }
  .col-lg-pull-4 {
    right:33.33333333%
  }
  .col-lg-pull-3 {
    right:25%
  }
  .col-lg-pull-2 {
    right:16.66666667%
  }
  .col-lg-pull-1 {
    right:8.33333333%
  }
  .col-lg-pull-0 {
    right:auto
  }
  .col-lg-push-12 {
    left:100%
  }
  .col-lg-push-11 {
    left:91.66666667%
  }
  .col-lg-push-10 {
    left:83.33333333%
  }
  .col-lg-push-9 {
    left:75%
  }
  .col-lg-push-8 {
    left:66.66666667%
  }
  .col-lg-push-7 {
    left:58.33333333%
  }
  .col-lg-push-6 {
    left:50%
  }
  .col-lg-push-5 {
    left:41.66666667%
  }
  .col-lg-push-4 {
    left:33.33333333%
  }
  .col-lg-push-3 {
    left:25%
  }
  .col-lg-push-2 {
    left:16.66666667%
  }
  .col-lg-push-1 {
    left:8.33333333%
  }
  .col-lg-push-0 {
    left:auto
  }
  .col-lg-offset-12 {
    margin-left:100%
  }
  .col-lg-offset-11 {
    margin-left:91.66666667%
  }
  .col-lg-offset-10 {
    margin-left:83.33333333%
  }
  .col-lg-offset-9 {
    margin-left:75%
  }
  .col-lg-offset-8 {
    margin-left:66.66666667%
  }
  .col-lg-offset-7 {
    margin-left:58.33333333%
  }
  .col-lg-offset-6 {
    margin-left:50%
  }
  .col-lg-offset-5 {
    margin-left:41.66666667%
  }
  .col-lg-offset-4 {
    margin-left:33.33333333%
  }
  .col-lg-offset-3 {
    margin-left:25%
  }
  .col-lg-offset-2 {
    margin-left:16.66666667%
  }
  .col-lg-offset-1 {
    margin-left:8.33333333%
  }
  .col-lg-offset-0 {
    margin-left:0
  }
}
@media (min-width:768px) {
  .container {
    width:750px
  }
}
@media (min-width:992px) {
  .container {
    width:970px
  }
}
@media (min-width:1200px) {
  .container {
    width:1170px
  }
}

@media screen and (max-width: 768px) {
  .main {
    padding: 0;
  }
  .col-xs-12 {
    width: 93%;
  }
  .vertical .steps {
    float: left;
    width: 100%;
  }
  .vertical .content{
    width: 100%;
  }
  .vertical .actions {
    width:100%;
  }
  .wizard > .steps ul {
    display: inline-block;
  }
  .steps ul li {
    display: inline-block;
    width: 50%;
  }
  .steps ul {
    padding-left: 10px;
    padding-top: 10px;
  }
  .steps ul:after {
    display: none;
  }
  ul.keypad li {
    width: 23%!important;
  }
}

/*--------quantity plus minus--------*/
.qty-buttons {
  position: relative;
  /*width: 185px;*/
  height: 40px;
}
input.qtyplus {
  background: url(../images/plus.png) center center no-repeat #fff;
  right: 0;
  top: 0;
  text-indent: -9999px;
}
input.qtyminus, input.qtyplus, input.qtyplus:focus {
  position: absolute;
  width: 35px;
  height: 22px;
  border: 1px solid #c1c1c1;
  outline: 0;
  cursor: pointer;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
}
input.qty {
  /*width: 185px;*/
}
input.qtyminus {
  background: url(../images/minus.png) center center no-repeat #fff;
  right: 0;
  top: 20px;
  text-indent: -9999px;
}

.actions ul {
  /*display: flex;*/
  margin-top: 30px;
  justify-content: space-between;
}
.actions li a {
  padding: 0;
  border: none;
  display: inline-flex;
  height: 54px;
  width: 180px;
  letter-spacing: 1.3px;
  font-size: 11px;
  align-items: center;
  background: #e4bd37;
  /*font-family: "Muli-Bold";*/
  cursor: pointer;
  position: relative;
  /*padding-left: 20px;*/
  text-transform: uppercase;
  color: #fff;
  border-radius: 27px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.actions li a:before {
  content: '\f2ee';
  font-size: 18px;
  position: absolute;
  top: 11px;
  right: 20px;
  font-family: Material-Design-Iconic-Font;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.actions li a:hover {
  background: #c9a630;
}
.actions li a:hover:before {
  -webkit-animation-name: hvr-icon-wobble-horizontal;
  animation-name: hvr-icon-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }
.actions li[aria-disabled="true"] a {
  opacity: 0;
  transition: all 0.3s;
}
.actions li:first-child a {
  width: 100px;
  background: #f6f6f6;
  color: #666;
  font-family: "Muli-Bold";
  padding-left: 20px;
}
.actions li:first-child a:before {
  content: '\f2ea';
  left: 32px;
  font-size: 18px;
}
.actions li:first-child a:hover {
  background: #e5e5e5;
}
.actions li:last-child a {
  width: 120px;
}

@-webkit-keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px); }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px); }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px); }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px); }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px); }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px); }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px); }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px); }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
.checkbox-circle {
  display: flex;
  justify-content: space-between;
}
.checkbox-circle label {
  cursor: pointer;
  display: inline-block;
  padding-left: 23px;
  position: relative;
  margin-right: 0;
  width: auto;
}
.checkbox-circle input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkbox-circle input:checked ~ .checkmark:after {
  display: block;
}
.checkbox-circle .checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid rgb(66, 138, 242);
}
.checkbox-circle .checkmark:after {
  content: "";
  top: 3px;
  left: 3px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #0091f5;
  position: absolute;
  display: none;
}



/*-- The switch widget!  --*/
input[switch] {
  display: none;
}
input[switch] + .c-switch-label {
  font-size: 1em;
  line-height: 1;
  width: 4rem;
  height: 1.7rem;
  background-color: #ddd;
  background-image: none;
  border-radius: 2rem;
  padding: 0.1666666667rem;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  position: relative;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2) inset;
  font-family: inherit;
  vertical-align: middle;
  transition: all 0.1s ease-in-out;
  margin-bottom: 10px;
  margin-top: 5px;
}
input[switch] + .c-switch-label::before {
  /* Label */
  text-transform: uppercase;
  color: #b7b7b7;
  content: attr(data-off-label);
  display: block;
  font-family: inherit;
  font-family: FontAwesome, inherit;
  font-weight: 500;
  font-size: 0.7rem;
  line-height: 1.74rem;
  position: absolute;
  right: 0.2166666667rem;
  margin: 0.2166666667rem;
  top: 0;
  text-align: center;
  min-width: 1.6666666667rem;
  overflow: hidden;
  transition: all 0.1s ease-in-out;
}
input[switch] + .c-switch-label::after {
  /* Slider */
  content: '';
  position: absolute;
  left: 0.1666666667rem;
  background-color: #f7f7f7;
  box-shadow: none;
  border-radius: 2rem;
  height: 1.6666666667rem;
  width: 1.6666666667rem;
  transition: all 0.1s ease-in-out;
}
input[switch]:checked + .c-switch-label {
  background-color: lightblue;
  background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.2));
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3) inset;
}
input[switch]:checked + .c-switch-label:before {
  color: #fff;
  content: attr(data-on-label);
  right: auto;
  left: 0.2166666667rem;
}
input[switch]:checked + .c-switch-label:after {
  left: 2.4rem;
  background-color: #f7f7f7;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.3);
}
/*-- end --*/

@media (max-width: 1500px) {
  form {
    /*padding-top: 10px;*/
    /*padding-bottom: 30px;*/
    /*align-self: flex-start;*/
  }

  .wrapper {
    height: auto; } }
@media (max-width: 1199px) {
  .wrapper {
    height: 100vh;
    width: auto; }

  .image-holder {
    align-self: center; }
  .image-holder img {
    transform: translateY(40px); }

  form {
    padding-top: 0;
    padding-bottom: 0;
    /*padding-left: 50px;*/
    /*padding-right: 50px;*/
    align-self: center;
  }
}
@media (max-width: 991px) {
  .wrapper {
    justify-content: center;
  }

  .image-holder {
    display: none;
  }

  form {
    width: 100%;
  }
}
@media (max-width: 767px) {
  body {
    height: auto;
  }

  .wrapper {
    height: auto;
    padding: 20px 0px;
  }

  #wizard {
    border: none;
    display: flex;
    flex-direction: column;
    background: #fff;
  }

  form, #wizard {
    padding: 0px;
  }

  h3 {
    margin-bottom: 30px; }

  .form-row {
    display: block;
  }
  .form-row label {
    margin-bottom: 5px;
    display: block;
  }
  .form-row label, .form-row .form-holder {
    width: 100%;
  }

  .checkbox-circle {
    display: block; }

  .wizard > .steps {
    order: 4;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .wizard > .steps ul {
    position: static;
    transform: translateX(0);
    width: 100%; }

  .actions ul {
    flex-direction: column;
    align-items: flex-end;
    margin-top: 0; }
  .actions li a {
    height: 44px; }
  .actions li a:before {
    top: 13px; }
  .actions li:first-child a {
    margin-bottom: 20px; } }

/*# sourceMappingURL=style.css.map */


/*----- ui slider pips -----*/
.ui-slider-horizontal.ui-slider-pips {
  margin-bottom: 2em;
  margin-top: 0.8em;
}
.ui-slider-pips .ui-slider-number,
.ui-slider-pips .ui-slider-pip-hide {
  display: none;
}
.ui-slider-pips .ui-slider-pip-number .ui-slider-number {
  display: block;
}
.ui-slider-pips .ui-slider-pip {
  width: 2em;
  height: 1em;
  line-height: 1em;
  position: absolute;
  font-size: 0.8em;
  color: #999;
  overflow: visible;
  text-align: center;
  top: 20px;
  left: 20px;
  margin-left: -1em;
  cursor: pointer;
}
.ui-slider-pips .ui-slider-line {
  background: #999;
  width: 1px;
  height: 3px;
  position: absolute;
  left: 50%;
}
.ui-slider-pips .ui-slider-number {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -1em;
  width: 2em;
}
.ui-slider-pip:hover .ui-slider-number {
  color: white;
  font-weight: bold;
}
.ui-slider-vertical.ui-slider-pips {
  margin-bottom: 0;
  margin-right: 2em;
}
.ui-slider-vertical.ui-slider-pips .ui-slider-pip {
  text-align: left;
  top: 20px;
  left: 20px;
  margin-left: 0;
  margin-top: -0.5em;
}
.ui-slider-vertical.ui-slider-pips .ui-slider-line {
  width: 3px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 0;
}
.ui-slider-vertical.ui-slider-pips .ui-slider-number {
  top: 50%;
  left: 0.5em;
  margin-left: 0;
  margin-top: -0.5em;
  width: 2em;
}
.ui-slider-vertical.ui-slider-pip:hover .ui-slider-number {
  color: white;
  font-weight: bold;
}
.ui-slider-float .ui-slider-tip,
.ui-slider-float .ui-slider-tip-number {
  position: absolute;
  visibility: hidden;
  top: -40px;
  display: block;
  width: 34px;
  margin-left: -17px;
  left: 50%;
  height: 20px;
  line-height: 20px;
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 12px;
  opacity: -1;
  transition: all 0.4s ease;
  color: #333;
}
.ui-slider-float .ui-slider-handle:hover .ui-slider-tip,
.ui-slider-float .ui-slider-handle:focus .ui-slider-tip,
.ui-slider-float .ui-slider-pip:hover .ui-slider-tip-number {
  opacity: 0.9;
  top: -30px;
  color: #333;
  visibility: visible;
}
.ui-slider-float .ui-slider-pip .ui-slider-tip-number {
  top: 15px;
}
.ui-slider-float .ui-slider-pip:hover .ui-slider-tip-number {
  top: 5px;
  font-weight: normal;
}
.ui-slider-float .ui-slider-tip:after,
.ui-slider-float .ui-slider-pip .ui-slider-tip-number:after {
  content: " ";
  width: 0;
  height: 0;
  border: 5px solid rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -5px;
}
.ui-slider-float .ui-slider-pip .ui-slider-tip-number:after {
  border: 5px solid rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  top: -10px;
}
/* ------------------------- */
/* demo stuff */

.ui-slider {
  box-shadow: inset 0 2px 1px #aaa;
  border-color: #000;
}
.ui-slider-horizontal {
  height: 10px;
  background: #ddd;
}
.ui-slider-horizontal.green .ui-slider-handle {
  background: #afe32c;
}
@media (max-width: 700px) {
  .ui-slider-pip:nth-child(odd) .ui-slider-number {
    display: none;
  }
}
@media (max-width: 400px) {
  .ui-slider-pip:nth-child(2n+1) .ui-slider-number {
    display: none;
  }
  .ui-slider-pip:nth-child(4n) .ui-slider-number {
    display: none;
  }
}

/*---------keypad button--------*/

ul.keypad{
  margin: 0px;
  padding: 5px;
  list-style: none;
  border-radius: 5px;
  border: 1px solid rgb(193, 193, 193);
  background: rgba(240, 240, 240, 0.5);
}

ul.keypad li{
  margin: 15px;
  padding: 0;
  display: inline-block;
  width:20.3%;
  vertical-align: top;
}

ul.keypad li a {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  padding:0;
  background: #fff;
  font-family: Lato, Arial, sans-serif;
  font-size:25px;
  border-radius: 5px;
  width: 100%;
  height: 100px;
  text-align: center;
}

ul.keypad li a:hover, a:focus {
  color: #fff;
  outline: none;
}

.selected:hover, .selected:focus {
  color: #fff;
  outline: none;
}

.selected:active {
  color: #fff;
  outline: none;
}

.item label {
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  border-radius:5px;
  display:block;
  padding:10px;
  text-align:center;
  -webkit-transition:all .3s cubic-bezier(.77,0,.175,1);
  -moz-transition:all .3s cubic-bezier(.77,0,.175,1);
  -ms-transition:all .3s cubic-bezier(.77,0,.175,1);
  -o-transition:all .3s cubic-bezier(.77,0,.175,1);
  transition:all .3s cubic-bezier(.77,0,.175,1);
  position:relative;
  border:1px solid #d9e1e6;
  font-size:15px!important;
  color:#777;
  line-height: 19px;
  height: 80px;
  cursor:pointer;
  background: #fff;
}
.item label strong {
  display:block;
  font-size:16px!important;
  color:#333;
  line-height: 26px;
  margin-bottom: 10px;
}
.item label p {
  font-size:12px;
  color:#838383;
  line-height: 6px;
}

.item input[type=checkbox]:not(old),.item input[type=radio]:not(old) {
  visibility:hidden;
  display: none;
}
.item input[type=checkbox]:not(old):checked+label,.item input[type=checkbox]:not(old):checked+span+label,.item input[type=radio]:not(old):checked+label,.item input[type=radio]:not(old):checked+span+label {
  display:block;
  border:1px solid #0c9be5;
  -webkit-box-shadow:0 2px 40px #e0e5f0;
  -moz-box-shadow:0 2px 40px #e0e5f0;
  box-shadow:0 2px 40px #e0e5f0
}
.item input[type=checkbox]:not(old):checked+label:before,.item input[type=checkbox]:not(old):checked+span+label:before,.item input[type=radio]:not(old):checked+label:before,.item input[type=radio]:not(old):checked+span+label:before {
  font-family:FontAwesome;
  content:"\f058";
  position:absolute;
  right: 5px;
  top: 5px;
  font-size: 1.2rem;
  color:#0c9be5
}

/*-------text editable-------*/
.editable {
  margin: 0;
  border: solid 1px #eaeaea;
  position: absolute;
  bottom: 8px;
  width: 87%;
  font-size: 11px;
}

.editable:empty:before {
  content:attr(data-placeholder);
  color: #6e6e6e;

}


/*---------survey preview table---------*/
@media (max-width: 767px) {
  .table tbody tr {
    border-top: 1px solid #ddd;
  }
  .table tbody tr td {
    border: none;
  }
}
.white-bg{
  background: #fff;
}
.table{
  width: 100%;
}

.table tbody tr:nth-child(odd) {
  background: #e5f2ff;
}
.table tbody tr:nth-child(even) {
  color: #929292;
  font-size: 13px;
}

@media (min-width: 768px) {
  .table thead tr th,
  .table tbody tr td {
    padding: 5px 10px;
    vertical-align: top;
  }
}


.widget.widget-table .table {
  margin-bottom: 0;
  border: none;
}
.widget .table tbody tr:nth-child(odd) {
  background: transparent;
}
.gray-bg{
  background: #f1f1f1;
}

.widget.widget-table .widget-content {
  padding: 0;
}

.widget .widget-header + .widget-content {
  border-top: none;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.widget .widget-content {
  padding: 20px 15px 15px;
  background: #FFF;
  border: 1px solid #D5D5D5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.widget .widget-header {
  position: relative;
  height: 40px;
  line-height: 40px;
  background: #E9E9E9;
  background: -moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #e9e9e9));
  background: -webkit-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
  background: -o-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
  background: -ms-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
  background: linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
  text-shadow: 0 1px 0 #fff;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1),inset 0 1px 0 white,inset 0 -1px 0 rgba(255,255,255,0.7);
  border-bottom: 1px solid #bababa;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
  border: 1px solid #D5D5D5;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-background-clip: padding-box;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

.widget .widget-header h3 {
  top: 2px;
  position: relative;
  left: 10px;
  display: inline-block;
  margin-right: 3em;
  font-size: 14px;
  font-weight: 600;
  color: #555;
  line-height: 18px;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

.widget .widget-header [class^="icon-"], .widget .widget-header [class*=" icon-"] {
  display: inline-block;
  margin-left: 13px;
  margin-right: -2px;
  font-size: 16px;
  color: #555;
  vertical-align: middle;
}

.table-responsive {
  min-height: .01%;
  overflow-x: auto
}